[project]
	description = a test gerrithub repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michael Pasternak (mpastern)
[access "refs/for/refs/*"]
	read = group user/Michael Pasternak (mpastern)
	push = group user/Michael Pasternak (mpastern)
	label-Code-Review = -2..+2 group user/Michael Pasternak (mpastern)
	label-Verified = -1..+1 group user/Michael Pasternak (mpastern)
	rebase = group user/Michael Pasternak (mpastern)
	removeReviewer = group user/Michael Pasternak (mpastern)
	submit = group user/Michael Pasternak (mpastern)
[access "refs/heads/*"]
	read = group user/Michael Pasternak (mpastern)
	create = group user/Michael Pasternak (mpastern)
	push = +force group user/Michael Pasternak (mpastern)
	pushMerge = group user/Michael Pasternak (mpastern)
[access "refs/tags/*"]
	push = +force group user/Michael Pasternak (mpastern)
	pushTag = group user/Michael Pasternak (mpastern)
	pushSignedTag = group user/Michael Pasternak (mpastern)
[receive]
	createNewChangeForAllNotInTarget = true
